:root {
  --input-spacing: 15px;
}

.form-container {
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
  margin-block-start: 20px;
}

.instructions {
  display: inline-block;
  font-size: var(--text-14);
  line-height: 1rem;
  margin-block-end: 15px;
}

.form-inputs {
  display: grid;
  gap: 20px;
}

/* Error message */
.field-error-message {
  font-size: var(--text-14);
  color: var(--destructive);
  padding-inline-start: var(--input-spacing);
  font-weight: 700;
  margin: 2px 0 0;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 20px;
}

@media (max-width: 600px) {
  .checkbox-minimal .checkmark {
    margin-block-start: 6px;
  }
}
